.btn-blue {
    display: grid;
    grid-column-start: span 2;
    justify-content: center;
    padding: 30px 0;
    
    &__link {
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        line-height: 19.5px;
        padding: 18px 30px;
        border: none;
        cursor: pointer;
        border-radius: 12px;
        background-color: #24A3FF;
        box-shadow: 0px 0px 20px 0px #24A3FF80;
        color: $white;
    }

    &__link:hover {
        background-color: #006CCF;
        transition-duration: 0.7s;
        transition-property: background-color;
    }

}

@media (min-width: 992px) {
    .btn-blue {
        grid-column: span 3;
    }
    
}