.form__wrap {
    background-color: #F5F5FA;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;

    &-title {
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 700;
        line-height: 36.57px;
        text-align: left;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-head {
        padding: 30px 0;

        &-name {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #B3B3BA;
            border: none;
            margin-bottom: 15px;
            padding: 15px 0 15px 15px;
            border-radius: 8px;
            width: 100%;
        }

        &-massage {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #B3B3BA;
            border: none;
            padding: 15px 0 90px 15px;
            border-radius: 8px;
            width: 100%;
        }
    }

    &-sub-title {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 700;
        line-height: 17.07px;
        letter-spacing: 1px;
        text-align: left;
        color: #B3B3BA;
        text-transform: uppercase;
    }

    &-contact {
        padding: 15px 0 30px;

        &-number {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #B3B3BA;
            border: none;
            padding: 15px 0 15px 15px;
            border-radius: 8px;
            width: 100%;
            margin-bottom: 15px;
        }

        &-email {
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #B3B3BA;
            border: none;
            padding: 15px 0 15px 15px;
            border-radius: 8px;
            width: 100%;
        }
    }

    &-btn button {
        width: 100%;
    }
}

.form_focus:focus {
    outline: 2px solid #24A3FF;
}


@media (min-width: 768px) {
    .form__wrap {
        margin-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .form {
        margin-top: 60px;
    }
}
